export RESTIC_PASSWORD_FILE="$HOME/Development/k8s-config/volsync_password.txt"
export AWS_ACCESS_KEY_ID="$(cat $HOME/Development/k8s-config/aws_credentials.txt | grep AWS_ACCESS_KEY_ID | awk '{print $2}')"
export AWS_SECRET_ACCESS_KEY="$(cat $HOME/Development/k8s-config/aws_credentials.txt | grep AWS_SECRET_ACCESS_KEY | awk '{print $2}')"
export OP_CONNECT_TOKEN="$(cat $HOME/Development/k8s-config/env.base | grep OP_CONNECT_TOKEN | sed -e 's/^.*=//' -e 's/\"//g')"
export OP_CONNECT_HOST="$(cat $HOME/Development/k8s-config/env.base | grep OP_CONNECT_HOST | sed -e 's/^.*=//' -e 's/\"//g')"
