dotenv $HOME/Development/k8s-config/volsync-credentials.txt
dotenv $HOME/Development/k8s-config/s3-credentials.txt
dotenv $HOME/Development/k8s-config/op-connect-credentials.txt
dotenv $HOME/Development/k8s-config/postgres-main.txt
