dotenv $HOME/.local/syscfg/volsync-credentials.txt
dotenv $HOME/.local/syscfg/s3-credentials.txt
dotenv $HOME/.local/syscfg/op-connect-credentials.txt
dotenv $HOME/.local/syscfg/postgres-main.txt
export DBBACKUP=$HOME/Ragnar/k8s/main/backup/dbms
