{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "plugins": [],
  "overrides": [
    {
      "files": ["*.yaml", ".prettierrc"],
      "options": {
        "quoteProps": "preserve",
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "quoteProps": "preserve",
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.json", "*.json5"],
      "options": {
        "quoteProps": "preserve",
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
