machine:
  type: worker
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  install:
    diskSelector:
      model: Samsung SSD 870
    extraKernelArgs:
      - -selinux
      - apparmor=0
      - i915.enable_guc=3
      - init_on_alloc=0
      - init_on_free=0
      - intel_iommu=on
      - iommu=pt
      - mitigations=off
      - net.ifnames=1
      - security=none
      - sysctl.kernel.kexec_load_disabled=1
      - talos.auditd.disabled=1
  kubelet:
    extraMounts:
      - destination: /var/mnt/ssd
        type: bind
        source: /var/mnt/ssd
        options:
          - rbind
          - rshared
          - rw
  disks:
    - device: /dev/disk/by-id/nvme-PCIe_SSD_D6EB0703018201033336
      partitions:
        - mountpoint: /var/mnt/ssd
