machine:
  type: worker
  kubelet:
    extraMounts:
      - destination: /var/mnt/ssd
        type: bind
        source: /var/mnt/ssd
        options:
          - rbind
          - rshared
          - rw
  disks:
    - device: /dev/disk/by-id/nvme-PCIe_SSD_0546070401F302575079
      partitions:
        - mountpoint: /var/mnt/ssd
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-6.zinn.tech
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ ENV.SCHEMATIC }}:v1.14.1
provisioning:
  diskSelector:
    match: disk.symlinks.exists(s, s.startsWith("/dev/disk/by-id/ata-Samsung_SSD_870_EVO_500GB_S6PXNZ0RC11937J"))
  wipe: false
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "1c:69:7a:a5:c1:19"
