machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-1.zinn.tech
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ ENV.SCHEMATIC }}:v1.14.1
provisioning:
  diskSelector:
    match: disk.symlinks.exists(s, s.startsWith("/dev/disk/by-id/ata-NGFF_2280_256GB_SSD_2021121401472"))
  wipe: false
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "7c:83:34:b1:82:d7"
