---
version: v1alpha1
machine:
  ca:
    crt: op://Kubernetes/cluster-staging/MACHINE_CA_CRT
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    rbac: true
  token: op://Kubernetes/cluster-staging/MACHINE_TOKEN
cluster:
  ca:
    crt: op://Kubernetes/cluster-staging/CLUSTER_CA_CRT
  clusterName: staging
  controlPlane:
    endpoint: https://staging.zinn.tech:6443
  token: op://Kubernetes/cluster-staging/CLUSTER_TOKEN
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr).startsWith("DE:CA:FF:10:12:")
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - net0
bondMode: active-backup
miimon: 100
up: true
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.98
vlanID: 98
vlanMode: 802.1q
mtu: 1500
parent: bond0
up: true
---
apiVersion: v1alpha1
kind: ResolverConfig
searchDomains:
  domains: []
hostDNS:
  enabled: true
  forwardKubeDNSToHost: true # Requires Cilium socketLB features
  resolveMemberNames: true
---
apiVersion: v1alpha1
kind: DiscoveryServiceConfig
name: default
endpoint: https://discovery.talos.dev/
---
apiVersion: v1alpha1
kind: DiscoveryIdentityConfig
clusterID: op://Kubernetes/cluster-staging/CLUSTER_ID
clusterSecret: op://Kubernetes/cluster-staging/CLUSTER_SECRET
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ schematic }}:v1.14.0
provisioning:
  diskSelector:
    match: disk.dev_path == "/dev/sda"
  wipe: false
---
apiVersion: v1alpha1
kind: FilesystemTrimConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: FilesystemScrubConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: dm_thin_pool
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: drbd
parameters:
  - usermode_helper=disabled
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: drbd_transport_tcp
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: nbd
---
apiVersion: v1alpha1
kind: SysctlConfig
params:
  fs.inotify.max_user_instances: "8192"
  fs.inotify.max_user_watches: "1048576"
  net.core.default_qdisc: fq
  net.core.rmem_max: "67108864"
  net.core.wmem_max: "67108864"
  net.ipv4.neigh.default.gc_thresh1: "4096"
  net.ipv4.neigh.default.gc_thresh2: "8192"
  net.ipv4.neigh.default.gc_thresh3: "16384"
  net.ipv4.tcp_congestion_control: bbr
  net.ipv4.tcp_fastopen: "3"
  net.ipv4.tcp_mtu_probing: "1"
  net.ipv4.tcp_rmem: 4096 87380 33554432
  net.ipv4.tcp_window_scaling: "1"
  net.ipv4.tcp_wmem: 4096 65536 33554432
  sunrpc.tcp_max_slot_table_entries: "128"
  sunrpc.tcp_slot_table_entries: "128"
  user.max_user_namespaces: "11255"
  vm.nr_hugepages: "1024"
---
apiVersion: v1alpha1
kind: EtcFileConfig
name: nfsmount.conf
mode: 0o644
contents: |
  [ NFSMount_Global_Options ]
  nfsvers=4.2
  hard=True
  nconnect=16
  noatime=True
  rsize=1048576
  wsize=1048576
---
apiVersion: v1alpha1
kind: CRICustomizationConfig
name: containerd
content: |
  [plugins."io.containerd.cri.v1.images"]
    discard_unpacked_layers = false
  [plugins."io.containerd.cri.v1.runtime"]
    device_ownership_from_security_context = true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
nodeIP:
  validSubnets:
    - 10.12.0.0/16
labels:
  node.kubernetes.io/gpu: "true"
  topology.kubernetes.io/region: staging
---
apiVersion: v1alpha1
kind: KubeletConfig
config:
  crashLoopBackOff:
    maxContainerRestartPeriod: 60s
  imageMaximumGCAge: 168h
  maxParallelImagePulls: 3
  serializeImagePulls: false
  shutdownGracePeriod: 90s
  shutdownGracePeriodCriticalPods: 60s
defaultRuntimeSeccompProfileEnabled: true
image: ghcr.io/siderolabs/kubelet:v1.37.0
---
apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local
podSubnets:
  - 10.211.0.0/16
serviceSubnets:
  - 10.210.0.0/16
---
apiVersion: v1alpha1
kind: KubePrismConfig
port: 7445
---
apiVersion: v1alpha1
kind: TimeSyncConfig
ntp:
  servers:
    - 10.10.0.2
---
apiVersion: v1alpha1
kind: OOMConfig
triggerExpression: "false"
