---
customization:
  systemExtensions:
    officialExtensions:
      - siderolabs/drbd # Miroir DRBD9 Replication
      - siderolabs/i915 # Intel iGPU
      - siderolabs/intel-ucode # Intel iGPU
      - siderolabs/mei # Intel iGPU
