# GitHub information
export GITHUB_TOKEN=""
export GITHUB_USER=""
export GITHUB_REPO=""

# SOPS key used for encrypting secrets
export SOPS_AGE_KEY_FILE=""
export SOPS_AGE_PUBLIC_KEY=""

# The admin for the domain
export SECRET_ADMIN_EMAIL=""

# The domain for the cluster
export CONFIG_TIMEZONE=""

# Cloudflare provider info
export CLOUDFLARE_API_TOKEN=""
export CLOUDFLARE_API_KEY=""
export CLOUDFLARE_ZONE="$SECRET_DOMAIN_NAME"
export CLOUDFLARE_ZONE_ID=""
