# Which GitHub branch should be used for the cluster
export SETUP_GITHUB_BRANCH="main"

# Which certificate issuer should be used
export CONFIG_CERTIFICATE_ISSUER=""

# The domain for the cluster
export SECRET_DOMAIN_NAME=""

# MetalLB configuration
export CONFIG_METALLB_IP_RANGE=""

# Exported service IPs
export CONFIG_SVC_TRAEFIK_ADDR=""
