# Password used on all machines to become root
export ANSIBLE_BECOME_PASSWORD=""

# S3 storage to backup etcd info to
export SECRET_ETCD_S3_HOST_NAME=""
export SECRET_ETCD_S3_ACCESS_KEY=""
export SECRET_ETCD_S3_SECRET_KEY=""

# Github and SOPS key information
export GITHUB_TOKEN=""
export GITHUB_USER=""
export GITHUB_REPO=""
export SOPS_AGE_KEY_FILE=""
export SOPS_AGE_PUBLIC_KEY=""
export SECRET_ADMIN_EMAIL=""

# The domain for the cluster
export CONFIG_TIMEZONE=""

# Cloudflare provider info
export CLOUDFLARE_API_TOKEN=""
export CLOUDFLARE_API_KEY=""
export CLOUDFLARE_ZONE="$SECRET_DOMAIN_NAME"
export CLOUDFLARE_ZONE_ID=""
